.table {
    .column-selected {
        width: 3rem;
    }

    .column-role {
        width: 8rem;
    }

    .column-projects {
        width: 8rem;
    }

    tr {
        td {
            vertical-align: middle;
            font-size: .9rem;
        }

        &:hover {
            td {
                background: #f0f2f5;
            }
        }
    }
}